<h1>GeekTwitter</h1>
<h3>Tweet詳細</h3>
  <%= image_tag @tweet.image_url, size: "250x200" if @tweet.image? %> 
  <p><%= @tweet.place %></p>
  <p><%= @tweet.address %></p>
  <p><%= @tweet.review %></p>
  <p><%= @tweet.created_at %></p>

  <% @tweet.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>

  <% @tweet.topics.each do |topic| %>
    <span><%= topic.name %></span>
<% end %>

  <% if user_signed_in? %>
  <% if current_user.already_liked?(@tweet) %>
    <%= link_to tweet_like_path(@tweet), method: :delete do %>
        <i class="fas fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
  <% else %>
    <%= link_to tweet_likes_path(@tweet), method: :post do %>
        <i class="far fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
  <% end %>
<% else %>
    <i class="far fa-heart"></i><%= @tweet.likes.count %>
<% end %>
</div>

<h2>いいねしたユーザー</h2>
<% @tweet.liked_users.each do |user| %>
<li><%= user.email %></li>
<% end %>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @tweet.lat %>, lng: <%= @tweet.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @tweet.lat %>, lng: <%= @tweet.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnl7gO9appsTt6z0yTRL-VZ-GijT9FrKY&callback=initMap" async defer></script>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

</div>
<% if user_signed_in? && current_user.id == @tweet.user_id %>
<%= link_to "編集する", edit_tweet_path(@tweet.id) %>
<%= link_to "削除する", tweet_path(@tweet.id), method: :delete %> 
<% end %> 
<%= link_to "Tweet一覧に戻る", tweets_path %>